{%- style -%}
#section-{{ section.id }} .active-grid {
  display: grid;
}
{%- endstyle -%}

<section id="section-{{ section.id }}" class="pt-[56px] pb-[84px]">
  <div class="max-w-content mx-auto px-[24px]">
    <h2 class="mb-[56px] text-[80px] text-dark text-center font-serif">{{ section.settings.title | escape }}</h2>
    <div class="active-grid grid-cols-4 gap-[1px]">

      {%- for product in section.settings.collection.products limit: section.settings.productLength -%}
      <a href="{{ product.url }}">
        <article class="group relative bg-green-light/20 shadow-grid overflow-hidden">
          <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 w-0 h-0 opacity-50 duration-500 group-hover:w-[200%] group-hover:h-[200%]">
            <svg class="w-full h-full" viewBox="0 0 698 710" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M190.23 43.9146C188.094 44.1778 185.958 44.441 183.808 44.6935C185.971 44.561 188.108 44.2978 190.23 43.9146Z" fill="#B1B094"/>
              <path d="M242.44 625.389L239.1 622.757C236.434 626.123 233.686 629.426 230.911 632.707C232.487 633.074 234.071 633.404 235.645 633.746C237.946 630.989 240.22 628.21 242.44 625.389Z" fill="#B1B094"/>
              <path d="M190.404 584.379C185.26 594.103 179.8 603.667 174.063 613.078C175.239 613.633 176.394 614.214 177.581 614.756C183.149 605.606 188.543 596.341 193.557 586.885L190.393 584.392L190.404 584.379Z" fill="#B1B094"/>
              <path d="M60.4379 481.991L57.2874 479.508C53.3119 485.43 49.4287 491.403 45.5972 497.394C46.3761 498.707 47.1087 500.05 47.912 501.361C49.2182 499.328 50.5109 497.285 51.8035 495.242C54.6445 490.788 57.5534 486.388 60.4488 481.977L60.4379 481.991Z" fill="#B1B094"/>
              <path d="M110.953 521.786C105.338 533.831 99.2925 545.666 92.6788 557.185C93.6374 558.115 94.6422 559.016 95.6116 559.933C102.315 548.332 108.453 536.438 114.157 524.311L110.939 521.775L110.953 521.786Z" fill="#B1B094"/>
              <path d="M164.782 564.202C159.499 576.005 153.934 587.716 147.777 599.223C148.918 599.903 150.037 600.61 151.175 601.266C157.262 590.01 162.875 578.511 168.187 566.863L164.792 564.188L164.782 564.202Z" fill="#B1B094"/>
              <path d="M107.035 180.881C110.648 179.223 114.367 177.626 118.141 176.072L123.19 169.903C122.195 170.3 121.181 170.638 120.175 171.049C95.3432 181.139 70.7864 193.677 51.8227 212.699C43.5702 220.98 36.4775 230.11 29.9524 239.665C27.1723 245.982 24.6096 252.361 22.3158 258.82C25.0074 254.358 27.7397 249.928 30.6078 245.605C49.9961 216.267 74.9483 195.687 107.038 180.905L107.035 180.881Z" fill="#B1B094"/>
              <path d="M167.329 115.981L170.931 111.58C161.966 113.418 152.986 115.112 144.033 116.5C139.738 117.162 135.438 117.776 131.108 118.345C128.832 119.898 126.556 121.451 124.324 123.059C126.705 122.77 129.072 122.47 131.412 122.149C143.409 120.536 155.394 118.365 167.315 115.971L167.329 115.981Z" fill="#B1B094"/>
              <path d="M208.441 37.9126C202.618 40.7161 196.501 42.7858 190.22 43.9383C204.432 42.2111 218.541 40.2277 232.094 36.8222L235.87 32.2087C226.976 34.6704 217.775 36.4969 208.43 37.9259L208.441 37.9126Z" fill="#B1B094"/>
              <path d="M178.324 41.709C177.475 42.746 178.191 44.9282 180.061 44.9361C181.324 44.9476 182.556 44.7805 183.798 44.7094C185.948 44.4569 188.084 44.1937 190.22 43.9305C196.491 42.7913 202.607 40.7216 208.442 37.9048C198.464 39.4254 188.356 40.5591 178.324 41.709Z" fill="#B1B094"/>
              <path d="M550.682 499.109C545.826 507.225 540.542 515.155 534.779 522.905C541.484 516.269 546.641 507.757 550.682 499.109Z" fill="#B1B094"/>
              <path d="M588.513 389.303C597.914 378.362 608.352 369.156 611.868 354.081C618.976 323.618 603.055 296.05 583.922 273.387C581.311 270.301 578.56 267.085 575.701 263.892C589.332 304.22 593.744 347.106 588.513 389.303Z" fill="#B1B094"/>
              <path d="M270.674 639.163C266.484 638.77 262.285 638.305 258.111 637.728L266.965 644.704C267.186 644.353 267.42 644.012 267.64 643.661C268.633 642.148 269.667 640.666 270.674 639.163Z" fill="#B1B094"/>
              <path d="M403.572 215.167C376.869 239.223 349.742 263.688 337.747 298.348C311.071 375.37 315.372 459.436 288.313 536.244C276.904 568.632 259.631 596.859 239.101 622.761L242.442 625.393C256.858 607.206 269.705 587.826 279.933 566.514C315.951 491.559 313.331 405.385 333.715 326.116C339.545 303.438 346.696 282.392 361.102 263.454C374.056 246.454 390.268 232.24 406.176 217.962C408.806 215.594 411.27 213.075 413.857 210.651C411.368 212.409 408.867 214.155 406.308 215.835C405.201 216.56 404.101 216.021 403.572 215.167Z" fill="#B1B094"/>
              <path d="M412.974 206.541C420.92 200.817 428.578 194.735 436.133 188.506C452.954 170.792 468.73 152.145 483.585 132.685C483.618 132.645 483.65 132.605 483.683 132.565C482.827 131.891 482.026 131.151 481.157 130.466C480.994 130.338 480.845 130.22 480.695 130.102C460.303 157.228 437.92 183.375 412.985 206.527L412.974 206.541Z" fill="#B1B094"/>
              <path d="M261.069 396.392C274.479 360.222 291.969 325.562 313.341 293.282C333.919 262.191 357.959 233.391 384.338 206.893C411.382 179.717 438.609 153.274 460.996 122.1C461.981 120.733 462.898 119.312 463.87 117.935C462.81 117.209 461.727 116.487 460.656 115.775C440.581 144.506 416.505 170.238 391.283 194.695C365.069 220.12 340.831 247.386 319.763 277.085C299.239 306.009 281.73 336.981 267.693 369.441C252.853 403.784 243.825 439.185 233.921 475.055C223.448 513.013 208.804 549.654 190.403 584.362L193.567 586.855C207.003 561.597 218.453 535.299 227.732 508.188C240.357 471.312 247.496 432.98 261.066 396.368L261.069 396.392Z" fill="#B1B094"/>
              <path d="M132.24 367.21C146.354 350.184 161.952 332.819 178.358 317.905C190.113 307.2 203.537 298.575 216.812 289.833C222.933 283.065 229.577 276.775 236.993 271.289C238.924 269.858 241.036 272.681 239.377 274.217C250.091 266.584 260.664 258.797 271.131 250.839C275.44 245.355 280.07 240.08 285.181 235.118C286.944 233.402 289.996 235.785 288.209 237.504C288.087 237.627 287.992 237.77 287.845 237.895C316.693 215.311 344.548 191.485 369.948 165.199C390.492 143.946 411.174 121.597 428.802 97.5208C427.609 96.9311 426.422 96.3894 425.219 95.813C411.971 113.937 397.069 130.998 382.008 146.971C353.953 176.719 324.119 204.3 292.012 229.829C261.211 254.308 228.874 276.242 196.612 298.74C182.347 308.692 170.548 320.106 158.718 332.677C144.598 347.664 129.894 362.3 118.188 379.276C107.59 394.654 99.615 411.794 90.4753 428.037C81.3356 444.279 71.0254 459.469 60.4217 474.799C59.3469 476.358 58.3373 477.946 57.2869 479.502L60.4374 481.985C73.2187 462.575 86.3476 443.505 97.6406 423.075C108.283 403.796 118.061 384.316 132.24 367.21Z" fill="#B1B094"/>
              <path d="M184.652 345.714C198.106 319.179 214.779 292.448 239.27 274.369C239.338 274.314 239.306 274.244 239.374 274.188C234.24 277.841 229.165 281.585 223.928 285.091C221.581 286.676 219.183 288.242 216.809 289.805C204.647 303.273 194.733 318.797 186.124 334.583C172.21 360.098 161.381 387.192 152.025 414.615C139.703 450.766 127.084 487.143 110.95 521.756L114.168 524.292C129.27 492.168 141.327 458.497 152.628 424.931C161.734 397.923 171.711 371.186 184.65 345.69L184.652 345.714Z" fill="#B1B094"/>
              <path d="M236.992 271.284C229.577 276.769 222.932 283.059 216.812 289.828C219.185 288.264 221.573 286.712 223.93 285.114C229.154 281.597 234.242 277.864 239.376 274.211C241.024 272.689 238.926 269.876 236.992 271.284Z" fill="#B1B094"/>
              <path d="M211.499 436.135C219.172 403.427 225.192 370.337 234.568 338.031C245.149 301.579 260.056 265.08 287.83 237.888C284.156 240.766 280.514 243.715 276.81 246.548C274.918 247.987 273.009 249.392 271.116 250.831C236.589 294.681 225.499 354.024 214.032 406.923C202.295 461.053 187.262 513.833 164.78 564.199L168.175 566.874C172.839 556.618 177.321 546.284 181.39 535.8C193.96 503.386 203.565 469.926 211.499 436.135Z" fill="#B1B094"/>
              <path d="M285.167 235.115C280.067 240.064 275.44 245.363 271.117 250.835C273.009 249.396 274.918 247.992 276.811 246.552C280.526 243.706 284.156 240.771 287.83 237.892C287.953 237.77 288.048 237.626 288.195 237.501C289.968 235.771 286.929 233.399 285.167 235.115Z" fill="#B1B094"/>
              <path d="M387.198 85.5822C338.879 135.231 268.682 153.864 208.309 185.027C150.275 214.971 97.9448 254.592 63.0981 309.912C52.2808 327.086 43.3349 345.494 30.4642 361.356C23.584 369.844 15.7177 377.708 7.86531 385.365C8.06502 387.031 8.3381 388.69 8.54869 390.343C21.3973 378.247 33.4939 365.077 42.9935 350.714C53.5299 334.784 62.067 317.695 72.9483 301.971C83.1058 287.295 94.5616 273.489 107.169 260.788C131.907 235.884 160.933 215.539 191.644 198.293C223.032 180.684 256.096 166.32 289.158 152.042C320.863 138.357 351.94 122.384 377.921 99.618C383.769 94.4931 389.356 89.0318 394.6 83.2789C393.261 82.8141 391.919 82.3252 390.557 81.887C389.42 83.1124 388.349 84.3674 387.16 85.5741L387.198 85.5822Z" fill="#B1B094"/>
              <path d="M279.005 116.883C228.53 138.546 174.178 149.609 123.201 169.892L118.152 176.061C193.412 144.884 297.784 132.445 354.347 72.5608C352.627 72.2334 350.915 71.8688 349.187 71.5788C329.287 91.0885 303.965 106.172 279.005 116.883Z" fill="#B1B094"/>
              <path d="M300.959 67.2193C298.617 67.1887 296.282 67.1209 293.948 67.1623C275.587 79.4428 254.754 88.6594 235.228 94.86C214.339 101.496 192.669 107.123 170.918 111.593L167.316 115.994C187.189 111.991 206.929 107.139 226.278 101.565C251.213 94.3771 278.313 83.2085 300.962 67.2433L300.959 67.2193Z" fill="#B1B094"/>
              <path d="M475.39 373.564C476.322 371.389 479.53 372.736 478.96 374.824C478.988 374.736 479.083 374.702 479.11 374.614C480.467 366.979 483.894 357.607 490.896 353.282C495.026 350.719 499.86 351.226 504.035 353.466C508.262 355.724 509.982 359.791 509.815 364.361C509.626 369.177 508.002 373.89 506.379 378.384C504.878 382.538 503.505 386.726 502.107 390.918C500.761 395.018 499.341 399.782 496.313 403.017C493.188 406.372 489.175 405.353 485.603 403.195C480.464 400.087 475.696 395.214 475.274 389.043C474.949 384.173 477.07 379.48 478.955 375.104C478.993 375.003 478.936 374.936 478.949 374.837C478.279 376.912 474.839 376.366 475.235 374.054C475.249 373.955 475.287 373.854 475.301 373.756C473.326 378.324 471.36 383.073 471.345 388.113C471.343 394.147 474.556 399.281 479.091 403.182C483.092 406.618 488.915 410.419 494.499 408.673C499.139 407.234 501.703 402.518 503.468 398.397C505.652 393.273 507.031 387.821 508.943 382.592C510.837 377.413 512.879 372.134 513.498 366.629C514.087 361.516 513.205 356.207 509.262 352.51C505.319 348.813 499.062 346.879 493.71 348.042C482.549 350.49 477.13 363.825 475.298 373.732C475.33 373.692 475.347 373.617 475.366 373.566L475.39 373.564Z" fill="#B1B094"/>
              <path d="M478.971 374.814C479.541 372.726 476.346 371.389 475.401 373.554C475.369 373.594 475.352 373.668 475.333 373.719C475.32 373.817 475.282 373.918 475.268 374.017C474.847 376.332 478.288 376.877 478.982 374.8L478.971 374.814Z" fill="#B1B094"/>
              <path d="M478.709 329.091C478.785 328.998 478.861 328.905 478.924 328.801C478.957 328.761 478.962 328.7 478.981 328.649C479.828 326.495 476.753 325.122 475.64 326.891C474.665 328.901 477.449 331.094 478.709 329.091Z" fill="#B1B094"/>
              <path d="M475.655 326.916C476.754 325.136 479.829 326.509 478.996 328.674C478.963 328.714 478.958 328.775 478.939 328.825C489.767 311.857 514.193 308.948 526.928 325.892C534.523 335.988 536.255 351.065 531.859 362.713C527.702 373.741 519.99 382.645 516.975 394.244C513.858 406.266 513.525 421.028 504.967 430.884C499.279 437.424 490.512 437.384 482.877 434.43C465.251 427.585 450.11 408.614 449.436 389.843C448.576 365.569 470.673 349.868 478.939 328.825C478.863 328.919 478.786 329.012 478.724 329.115C477.467 331.143 474.683 328.949 475.655 326.916C475.579 327.009 475.481 327.019 475.421 327.147C467.095 348.536 445.647 363.852 445.532 388.364C445.419 409.051 461.656 429.957 480.883 437.714C488.351 440.733 497.177 441.52 504.095 436.779C514.746 429.469 516.626 414.264 519.022 402.768C520.578 395.245 522.472 388.1 526.19 381.319C529.416 375.441 533.386 369.908 535.655 363.561C539.883 351.736 538.55 337.236 531.963 326.426C518.985 305.113 488.576 305.998 475.693 326.706C475.639 326.772 475.696 326.839 475.666 326.903L475.655 326.916Z" fill="#B1B094"/>
              <path d="M476.372 284.739C476.6 284.569 476.777 284.38 476.994 284.223C476.714 284.374 476.51 284.542 476.372 284.739Z" fill="#B1B094"/>
              <path d="M479.273 287.304C481.274 285.841 479.007 282.743 476.995 284.219C476.767 284.389 476.59 284.578 476.372 284.734C475.374 286.091 477.38 288.306 479.273 287.304Z" fill="#B1B094"/>
              <path d="M437.62 343.848C427.68 350.888 416.584 357.323 409.922 367.754C405.008 375.451 402.657 384.927 402.473 393.967C401.774 429.807 433.991 460.09 465.192 473.629C480.544 480.279 499.507 484.919 513.977 474.035C528.54 463.092 533.492 442.959 538.333 426.566C543.674 408.468 550.987 393.038 560.347 376.662C568.485 362.407 575.241 347.085 572.2 330.387C568.185 308.438 550.335 286.611 531.566 274.666C522.703 269.038 512.379 265.497 501.818 267.783C490.967 270.125 486.353 279.283 476.995 284.222C478.996 282.759 481.287 285.855 479.272 287.307C486.597 283.433 491.093 275.538 498.716 272.556C510.882 267.817 523.618 273.324 533.365 280.545C549.216 292.29 564.699 311.224 568.332 330.773C573.911 360.8 546.813 386.185 538.287 413.277C533.442 428.639 530.131 445.101 521.779 459.099C510.384 478.18 491.275 479.504 471.537 472.044C441.858 460.821 411.086 434.476 406.814 401.981C405.499 391.934 406.987 381.056 411.851 372.029C418.449 359.82 431.524 353.151 442.358 345.153C451.365 338.516 457.689 331.361 461.709 320.991C466.315 309.115 468.232 295.338 479.281 287.27C477.388 288.272 475.393 286.043 476.38 284.7C467.953 291.204 464.501 300.578 461.259 310.38C456.447 324.937 450.512 334.673 437.628 343.81L437.62 343.848Z" fill="#B1B094"/>
              <path d="M534.78 522.911C532.103 526.51 529.361 530.079 526.488 533.589C526.368 533.735 526.238 533.894 526.118 534.041C545.988 523.19 557.168 497.577 564.366 473.418C560.299 482.154 555.731 490.736 550.685 499.139C546.631 507.776 541.499 516.285 534.783 522.935L534.78 522.911Z" fill="#B1B094"/>
              <path d="M583.922 273.381C603.065 296.031 618.975 323.613 611.867 354.075C608.363 369.137 597.924 378.343 588.512 389.297C588.156 392.188 587.724 395.063 587.268 397.94C594.99 387.578 605.435 379.209 611.329 367.232C623.833 341.83 615.836 310.883 600.62 288.375C592.664 276.618 582.942 265.436 572.718 255.304C573.781 258.153 574.733 261.002 575.7 263.886C578.549 267.092 581.31 270.296 583.922 273.381Z" fill="#B1B094"/>
              <path d="M583.398 395.665C577.064 404.277 574.857 414.26 572.435 424.424C567.202 446.456 562.9 468.851 554.598 490.019C553.424 493.008 552.123 496.072 550.696 499.125C555.728 490.712 560.296 482.129 564.377 473.404C567.217 463.876 569.44 454.583 571.341 446.502C573.934 435.446 576.113 424.216 579.266 413.294C580.948 407.446 583.885 402.521 587.294 397.946C587.75 395.069 588.182 392.195 588.537 389.304C586.775 391.349 585.042 393.439 583.423 395.662L583.398 395.665Z" fill="#B1B094"/>
              <path d="M474.347 248.905C474.464 248.844 474.605 248.781 474.733 248.706C474.744 248.693 474.766 248.667 474.79 248.664C476.789 247.396 474.793 244.621 472.79 245.513C470.938 246.766 472.202 249.971 474.333 248.895L474.347 248.905Z" fill="#B1B094"/>
              <path d="M534.78 522.911C528.42 529.208 520.66 533.831 511.074 535.201C484.407 538.991 459.486 519.443 441.036 503.07C419.547 483.996 398.488 461.04 386.101 435.075C379.104 420.399 374.792 403.945 377.026 387.707C379.711 368.325 392.109 352.549 405.502 338.805C417.799 326.209 431.199 314.503 440.431 299.404C451.08 281.945 456.446 260.433 474.724 248.744C474.607 248.805 474.466 248.868 474.338 248.942C472.207 250.018 470.929 246.803 472.795 245.561C472.7 245.596 472.607 245.545 472.515 245.603C457.464 255.177 450.746 271.163 443.113 286.384C433.653 305.283 419.64 319.13 404.862 333.992C382.058 356.943 366.982 382.921 374.967 415.63C382.149 445.061 402.595 470.158 423.508 491.6C442.239 510.797 465.566 532.347 492.936 538.122C506.12 540.899 517.022 539.013 526.106 534.054C526.226 533.908 526.356 533.749 526.476 533.602C529.349 530.092 532.091 526.523 534.769 522.925L534.78 522.911Z" fill="#B1B094"/>
              <path d="M539.809 232.171C516.903 224.38 493.1 235.151 472.956 245.326C472.875 245.371 472.872 245.456 472.804 245.512C474.808 244.619 476.814 247.381 474.804 248.663C474.793 248.676 474.772 248.703 474.747 248.705C492.164 239.924 512.574 230.133 532.709 234.188C550.096 237.696 564 250.728 575.729 263.906C574.764 261.046 573.81 258.173 572.747 255.323C571.27 253.853 569.801 252.346 568.291 250.916C560.065 243.145 550.747 235.891 539.833 232.169L539.809 232.171Z" fill="#B1B094"/>
              <path d="M570.02 202.119C570.134 202.253 570.283 202.37 570.408 202.491C572.361 203.68 574.472 201.209 573.003 199.811C571.287 198.306 568.35 200.366 570.02 202.119Z" fill="#B1B094"/>
              <path d="M439.613 562.741C409.817 545.411 386.865 518.164 371.076 488.25C355.493 458.739 346.129 425.752 344.757 392.524C343.966 373.377 345.079 352.887 349.562 334.2C351.946 324.247 356.009 314.589 362.772 306.708C370.321 297.894 380.627 291.252 389.213 283.408C416.889 258.107 439.204 226.832 471.466 206.654C492.373 193.581 515.577 187.172 538.31 190.562C537.298 189.152 536.285 187.742 535.262 186.345C519.313 184.517 502.983 187.003 487.144 193.966C458.215 206.688 436.976 228.926 415.854 251.322C407.604 260.064 399.259 268.732 390.496 276.983C381.273 285.659 370.347 292.95 361.7 302.124C347.968 316.717 344.109 336.661 342.312 355.803C338.92 391.905 342.274 427.133 354.89 461.414C375.254 516.713 418.395 567.324 476.819 581.251C478.108 580.277 479.37 579.281 480.645 578.296C466.298 575.302 452.405 570.173 439.613 562.741Z" fill="#B1B094"/>
              <path d="M270.675 639.158C269.669 640.661 268.635 642.143 267.641 643.656C267.421 644.008 267.187 644.348 266.967 644.699L270.158 647.214C271.864 644.665 273.597 642.138 275.306 639.613C273.757 639.486 272.216 639.322 270.665 639.171L270.675 639.158Z" fill="#B1B094"/>
              <path d="M449.529 598.516C423.166 574.399 393.112 524.171 349.533 544.203C330.763 552.837 319.686 572.102 307.753 587.719C294.849 604.604 282.431 621.523 270.662 639.15C272.2 639.29 273.744 639.478 275.304 639.592C291.72 615.304 308.541 591.314 327.098 568.45C342.523 549.44 363.076 537.618 388.018 547.888C409.576 556.781 422.943 577.264 438.589 593.243C441.204 595.916 443.927 598.564 446.73 601.144C447.904 600.473 449.095 599.837 450.254 599.131C450.007 598.915 449.759 598.698 449.512 598.481L449.529 598.516Z" fill="#B1B094"/>
              <path d="M403.571 215.158C405.358 213.548 407.145 211.938 408.932 210.328C410.302 209.09 411.63 207.796 412.987 206.547C410.045 208.668 407.086 210.755 404.043 212.753C403.064 213.403 403.104 214.419 403.574 215.182L403.571 215.158Z" fill="#B1B094"/>
              <path d="M482.332 152.028C466.092 163.136 451.292 176.034 436.146 188.508C428.954 196.094 421.529 203.475 413.87 210.649C433.86 196.46 451.838 179.789 471.263 164.87C479.543 158.491 488.895 151.513 498.874 145.707C497.989 144.878 497.093 144.063 496.197 143.247C491.457 146.009 486.827 148.965 482.332 152.028Z" fill="#B1B094"/>
              <path d="M412.974 206.541C411.617 207.79 410.29 209.084 408.919 210.322C407.132 211.933 405.345 213.543 403.558 215.153C404.087 216.007 405.212 216.543 406.294 215.821C408.853 214.142 411.355 212.395 413.843 210.637C421.502 203.463 428.928 196.082 436.12 188.496C428.575 194.711 420.906 200.807 412.961 206.531L412.974 206.541Z" fill="#B1B094"/>
            </svg>            
          </span>
          <img
            src="{{ product.featured_media | image_url: width: 258 }}"
            alt="{{ product.featured_media.alt | escape }}"
            width="258"
            height="334"
            loading="lazy"
            class="max-h-[358px] mx-auto"
          />
          <div class="pb-[24px] space-y-[12px] text-center">
            <h3 class="text-dark text-[16px] font-sans">{{ product.title | escape }}</h3>
            <p class="text-gray-medium text-[16px]">{{ product.price | money_with_currency }}</p>
          </div>
        </article>
      </a>
      {% endfor %}

    </div>
    <div class="flex mt-[56px]">
      <a href="/pages/cave-exclusive" class="mx-auto px-[32px] py-[12px] bg-red rounded-full text-white">Découvrir notre cave exclusive</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Derniers Produits",
  "tag": "div",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "productLength",
      "min": 4,
      "max": 12,
      "step": 4,
      "default": 4,
      "label": "Nombre de produits"
    }
  ],
  "presets": [
    {
      "name": "Derniers Produits",
      "settings": {
        "title": "Titre",
        "collection": "Collection"
      }
    }
  ]
}
{% endschema %}