<footer class="bg-red">
  <div class=" mx-auto max-w-content text-white ">
    <div class="mx-6   py-6">
      <div class="flex justify-between">
        <div>
          <img src="{{ 'moonwine-logo.png' | asset_img_url: '1920x' }}" alt="Vignes de fonds" width="60" height="60" loading="lazy" class="h-20 w-auto"/>
          <address class="flex flex-col py-2">
            <span>11 rue Eugène d’Hallendre</span>
            <span>59110 LA MADELEINE</span>
          </address>
        </div>
        <div class="flex">
          {%- for block in section.blocks -%}
            <div class="px-10">
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">
                  {{- block.settings.heading | escape -}}
                </h2>
              {%- endif -%}
              {%- case block.type -%}
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="flex flex-col">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

    <div class=" flex justify-between mx-6 border-t text-white border-white py-6">
      <div class="">
        <ul class="flex">
          {%- if section.settings.link_cgv == blank -%}
            <li class="md:mr-12">
              <a href="{{ section.settings.link_cgv }}" class="">
                <span class="">Mentions Légales et CGV</span>
              </a>
            </li>
          {%- endif -%}
          {%- if section.settings.link_cgv == blank -%}
            <li class="md:mr-12">
              <a href="{{ section.settings.link_cgv }}" class="">
                <span class="">Politique de confidentialité</span>
              </a>
            </li>
          {%- endif -%}
          {%- if section.settings.link_cgv == blank -%}
            <li class="md:mr-12">
              <a href="{{ section.settings.link_cgv }}" class="">
                <span class="">Préférences cookies
                </span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="mb-6">
        <ul class="flex justify-end" role="list">
          {%- if settings.social_instagram_link == blank -%}
            <li class="pl-10">
              <a href="{{ settings.social_instagram_link }}" class="h-10 w-10">
                <img src="{{ 'custom-insta.png' | asset_img_url: '1920x' }}" alt="Vignes de fonds" width="20" height="20" loading="lazy" class="h-12 w-12"/>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link == blank -%}
            <li class="pl-10">
              <a href="{{ settings.social_instagram_link }}" class="h-10 w-10">
                <img src="{{ 'custom-youtube.png' | asset_img_url: '1920x' }}" alt="Vignes de fonds" width="20" height="20" loading="lazy" class="h-12 w-auto"/>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_facebook_link == blank -%}
            <li class="pl-10">
              <a href="{{ settings.social_instagram_link }}" class="h-10 w-10">
                <img src="{{ 'custom-facebook.png' | asset_img_url: '1920x' }}" alt="Vignes de fonds" width="20" height="20" loading="lazy" class="h-12 w-auto"/>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-green-light py-6">
      <p class="max-w-content mx-auto text-center">
        L’abus d’alcool est dangereux pour la santé. A consommer avec modération.
      </p>
    </div>
    <div class="py-6 bg-white flex justify-center">
      <img src="{{ 'custom-alcohol-warning.png' | asset_img_url: '1420x' }}" alt="Restriction alcool pour mineur" width="1420" height="965" loading="lazy" class="md:w-1/2"/>
    </div>
  </div>
</footer>

{% schema %}

{
  "name": "Footer Custom",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        }, {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    }, {
      "type": "header",
      "content": "Liens"
    }, {
      "type": "text",
      "id": "link_cgv",
      "label": "Mentions légales et CGV"
    }, {
      "type": "text",
      "id": "link_confidentialite",
      "label": "Politique de confidentialité"
    }, {
      "type": "text",
      "id": "link_cookies",
      "label": "Préférences cookies"
    }, {
      "type": "header",
      "content": "Interdiction Vente Alcool"
    }, {
      "type": "text",
      "id": "text_warning",
      "label": "Texte"
    }, {
      "type": "image_picker",
      "id": "image_alcool_warning",
      "label": "Image interdiction vente aux mineurs"
    }
  ]
}

{% endschema %}
