<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<cart-items>
  <div class="max-w-content mx-auto px-[24px]">
    <h2 class="py-[54px] text-[80px] font-serif">Panier</h2>
    <div class="flex space-x-[96px] mb-[80px]">
      <div class="flex-auto">
        
        {%- if cart != empty -%}
        <table class="w-full table-auto mb-[56px] divide-y divide-green-light">
          <thead>
            <tr>
              <th class="pr-[24px] py-[10px] text-[16px] text-dark text-left font-light">Produit</th>
              <th class="px-[24px] py-[10px] text-[16px] text-dark text-left font-light">Prix</th>
              <th class="px-[24px] py-[10px] text-[16px] text-dark text-left font-light">Quantité</th>
              <th class="pl-[24px] py-[10px] text-[16px] text-dark text-left font-light" colspan="2">Sous-total</th>
            </tr>
          </thead>
          <tbody>
  
            {%- for item in cart.items -%}
            <tr>
              <td class="flex items-center">
                <div class="flex-none max-h-[180px]">
                  <img src="{{ item.image | image_url: width: 134 }}"
                    alt="{{ item.image.alt | escape }}"
                    loading="lazy"
                    width="134"
                    height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                  />
                </div>
                <p class="flex-auto px-[24px] text-[20px]">
                  <span class="block font-semibold">{{ item.product.title | escape }}</span>
                  <span class="block">{{ item.product.description | truncate: 42 }}</span>
                  <span class="block font-semibold">(en stock)</span>
                </p>
              </td>
              <td class="px-[24px] text-[20px]">{{ item.original_price | money }}</td>
              <td class="px-[24px]">
                <quantity-input class="w-[128px] flex items-center border border-green-light rounded-full font-medium">
                  <button
                    class="w-[40px] h-[40px] flex-none text-[14px] no-js-hidden"
                    name="minus"
                    type="button"
                  >—</button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    min="0"
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                    id="Quantity-{{ item.index | plus: 1 }}"
                    data-index="{{ item.index | plus: 1 }}"
                  />
                  <button
                    class="w-[40px] h-[40px] flex-none text-[14px] no-js-hidden"
                    name="plus"
                    type="button"
                  >+</button>
                </quantity-input>
              </td>
              <td class="px-[24px] text-[20px]">{{ item.original_line_price | money }}</td>
              <td class="pl-[24px]">
                <a
                  href="{{ item.url_to_remove }}"
                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                  class="text-red text-[14px] underline"
                >Supprimer</a>
              </td>
            </tr>
            {%- endfor -%}
  
          </tbody>
        </table>

        <h5 class="mb-[12px] text-black text-[20px] font-medium font-sans">Mon code promo</h5>
        <div class="flex max-w-[354px] bg-green-light/40 rounded-full">
          <input
            type="text"
            placeholder="Entrer mon code promo"
            class="h-[40px] flex-auto px-[16px] bg-transparent text-[14px] placeholder:text-black"
          />
          <button class="h-[40px] px-[20px] bg-black rounded-full text-[20px] text-green-light font-medium uppercase">Ok</button>
        </div>
        {%- else -%}
        <h5 class="mb-[12px] text-black text-[20px] font-medium font-sans">Votre panier est vide</h5>
        {%- endif -%}

      </div>
      <div class="w-[25%] flex-none">
        <h3 class="text-[40px] font-serif">Resume</h3>
        <div class="flex justify-between items-center py-[42px] border-y border-green-light">
          <p>
            <span class="block text-black text-[20px] font-medium font-sans">Total du panier</span>
            <span class="block text-[14px] italic">(hors frais de livraison)</span>
            <span class="block text-[14px] italic">Taxes incluses</span>
          </p>
          <h4 class="text-gray-dark text-[24px] font-bold">{{ cart.total_price | money }}</h4>
        </div>
        <h5 class="my-[16px] text-black text-[20px] font-medium font-sans">Paiement sécurisé</h5>
        <img
          src="{{ 'custom-paiement-methods.png' | asset_img_url: '260x' }}"
          alt="Pack de Bouteilles"
          width="260"
          height="38"
          loading="lazy"
        />
        <div class="mt-[28px]">

          {%- if cart != empty -%}
          <button
            type="submit"
            id="checkout"
            name="checkout"
            form="cart"
            class="w-full mb-[16px] px-[32px] py-[12px] bg-red rounded-full text-white text-center"
          >Passer ma commande</button>
          {%- endif -%}

          <a
            href="/pages/cave-exclusive"
            class="block px-[32px] py-[12px] border border-gray-dark rounded-full text-center"
          >Continuer mes achats</a>
        </div>
      </div>
    </div>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
